@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/work-sans@5.2.5/index.min.css");

@import "tailwindcss";
@import "tw-animate-css";

/*noinspection CssUnknownProperty*/
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}

@layer base {
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @apply scrollbar-track-transparent scrollbar-thumb-rounded-full scrollbar scrollbar-w-1.5 scrollbar-thumb-gray-500 scrollbar-h-1.5;
    }

    body {
        @apply bg-gray-100
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .title1-nanum {
        @apply text-2xl font-extrabold leading-7 font-nanum
    }

    .title2-nanum {
        @apply text-xl font-normal leading-6 tracking-[-0.5px] font-nanum
    }

    .subtitle1-nanum {
        @apply text-lg font-extrabold leading-[22px] font-nanum
    }

    .subtitle2-nanum {
        @apply text-base font-bold leading-5 tracking-[-0.48px] font-nanum
    }

    .body1-nanum {
        @apply text-base font-normal leading-5 tracking-[-0.4px] font-nanum
    }

    .body2-nanum {
        @apply text-xs font-bold leading-4 tracking-[-0.36px] font-nanum
    }

    .caption1-nanum {
        @apply text-sm font-normal leading-5 tracking-[0.28px] font-nanum
    }

    .caption2-nanum {
        @apply text-[10px] font-bold leading-3.5 tracking-[-0.3px] font-nanum
    }

    .title1-pretendard {
        @apply text-2xl font-extrabold leading-7 font-pretendard
    }

    .subtitle1-pretendard {
        @apply text-lg font-semibold leading-[22px] tracking-[-0.45px] font-pretendard
    }

    .subtitle2-pretendard {
        @apply text-sm font-semibold leading-5  font-pretendard
    }

    .body1-pretendard {
        @apply text-sm font-normal leading-5 font-pretendard
    }

    .body2-pretendard {
        @apply text-xs font-semibold leading-4 tracking-[-0.3px] font-pretendard
    }

    .caption1-pretendard {
        @apply text-xs font-normal leading-5 tracking-[0.24px] font-pretendard
    }

    .caption2-pretendard {
        @apply text-[10px] font-semibold leading-3.5 tracking-[0.2px] font-pretendard
    }
}

@theme {
    --font-sans: 'NanumSquare', sans-serif;
    --font-nanum: 'NanumSquare', sans-serif;
    --font-pretendard: 'Pretendard', sans-serif;
    --font-work-sans: 'Work Sans', sans-serif;

    --color-sidebar-primary: #787486;
    --color-sidebar-primary-hover: #54515e;

    --color-classpick-0: #f7f8ff;
    --color-classpick-50: #f2f3ff;
    --color-classpick-100: #e0e1ff;
    --color-classpick-200: #c2c3ff;
    --color-classpick-300: #a3a5ff;
    --color-classpick-400: #8487ff;
    --color-classpick-450: #7375ff;
    --color-classpick-500: #4e51ff;
    --color-classpick-600: #3d3ee0;
    --color-classpick-700: #3132b3;
    --color-classpick-800: #262786;
    --color-classpick-900: #1a1b59;

    --color-sidebar-filter-title: #6C6FFF;
    --color-sidebar-filter-description: #7C7EFF;

    --color-primary-gray-900: #0a0a0a;
    --color-primary-gray-800: #161619;
    --color-primary-gray-600: #3c3b41;
    --color-primary-gray-500: #505050;
    --color-primary-gray-400: #c9c9c9;
    --color-primary-gray-300: #d9d9d9;
    --color-primary-gray-200: #f8f8f8;
    --color-primary-gray-white: #ffffff;

    --color-system-alarm: #ff6c6c;
    --color-system-alarm2: #2a93f4;
    --color-system-alarm3: #3dd2a8;
}